@using EFWebApp.Data
@model IEnumerable<Image>

<div>
    <div class="row">
        @foreach (Image i in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <a href="/home/viewImage?id=@i.Id"><img src="~/uploads/@i.Name" alt=""></a>
                    <div class="caption">
                        <h4 class="pull-right">@i.Title</h4>
                        <h4>
                            <a href="/home/viewImage?id=@i.Id">Enlarge Image</a>
                        </h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
